old/legacy-stack/n8n/old-attempts/04-api-recording-detail-corrected.json
{
  "name": "Transcriber - API Recording Detail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/recordings/:recordingId",
        "options": {}
      },
      "id": "webhook-recording-detail",
      "name": "Get Recording Detail API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "api-recording-detail"
    },
    {
      "parameters": {
        "jsCode": "// Extract user email and recording ID\nconst userEmail = $input.first().headers['cf-access-authenticated-user-email'] || 'test@solfamily.group';\nconst recordingId = $input.first().params?.recordingId;\n\nreturn {\n  userEmail,\n  recordingId\n};"
      },
      "id": "parse-detail-request",
      "name": "Parse Detail Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, t.text_path, t.vtt_path, t.srt_path, t.words_json_path, t.diarization_json_path, t.language_detected, t.speaker_count FROM transcriber.recordings r INNER JOIN transcriber.users u ON r.user_id = u.id LEFT JOIN transcriber.transcripts t ON r.id = t.recording_id WHERE u.email = $1 AND r.id = $2",
        "additionalFields": {
          "queryParameters": "={{ [$node[\"Parse Detail Request\"].json[\"userEmail\"], $node[\"Parse Detail Request\"].json[\"recordingId\"]] }}"
        }
      },
      "id": "get-recording-detail",
      "name": "Get Recording Detail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "PostgreSQL Main DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "check-recording-exists",
      "name": "Check Recording Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const recording = $input.first().json[0];\n\n// Read transcript text if available\nlet transcriptText = '';\nif (recording.text_path) {\n  try {\n    transcriptText = require('fs').readFileSync(recording.text_path, 'utf8');\n  } catch (error) {\n    console.log('Could not read transcript file:', error.message);\n  }\n}\n\n// Read diarization JSON if available\nlet diarizationJson = null;\nif (recording.diarization_json_path) {\n  try {\n    const diarizationContent = require('fs').readFileSync(recording.diarization_json_path, 'utf8');\n    diarizationJson = JSON.parse(diarizationContent);\n  } catch (error) {\n    console.log('Could not read diarization file:', error.message);\n  }\n}\n\n// Generate signed URLs (simplified for now - in production, these should be time-limited signed URLs)\nconst baseUrl = 'https://transcriber.solfamily.group';\nconst downloadAudioUrl = recording.audio_path ? `${baseUrl}/downloads/audio/${recording.id}` : null;\nconst downloadTxtUrl = recording.text_path ? `${baseUrl}/downloads/txt/${recording.id}` : null;\nconst downloadSrtUrl = recording.srt_path ? `${baseUrl}/downloads/srt/${recording.id}` : null;\nconst downloadVttUrl = recording.vtt_path ? `${baseUrl}/downloads/vtt/${recording.id}` : null;\n\nreturn {\n  id: recording.id,\n  name: recording.name,\n  mode: recording.mode,\n  created_at: recording.created_at,\n  duration_seconds: recording.duration_seconds,\n  status: recording.status,\n  transcript_text: transcriptText,\n  download_audio_url: downloadAudioUrl,\n  download_txt_url: downloadTxtUrl,\n  download_srt_url: downloadSrtUrl,\n  download_vtt_url: downloadVttUrl,\n  diarization_json: diarizationJson,\n  language_detected: recording.language_detected,\n  speaker_count: recording.speaker_count\n};"
      },
      "id": "build-detail-response",
      "name": "Build Detail Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-detail",
      "name": "Respond with Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 404,
        "responseBody": "={{ { \"error\": \"Recording not found\" } }}"
      },
      "id": "respond-not-found",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Get Recording Detail API": {
      "main": [
        [
          {
            "node": "Parse Detail Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Detail Request": {
      "main": [
        [
          {
            "node": "Get Recording Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recording Detail": {
      "main": [
        [
          {
            "node": "Check Recording Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recording Exists": {
      "main": [
        [
          {
            "node": "Build Detail Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Detail Response": {
      "main": [
        [
          {
            "node": "Respond with Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "id": "transcriber-api-recording-detail"
}