old/legacy-stack/n8n/old-attempts/transcribe-with-write-file.json
{
  "name": "Transcriber - With Write File",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe-with-write",
        "options": {}
      },
      "id": "webhook-transcribe-write",
      "name": "Transcribe Write Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "transcribe-with-write"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().body;\nconst recordingId = data.recordingId || 'test-123';\nconst audioPath = data.audioPath || '/tmp/test.wav';\n\nreturn {\n  recordingId,\n  audioPath\n};"
      },
      "id": "parse-write-request",
      "name": "Parse Write Request", 
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.audioPath }}"
      },
      "id": "read-write-file",
      "name": "Read Write File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://transcriber-asr-gateway:8000/v1/audio/transcriptions",
        "options": {
          "bodyContentType": "multipart-form-data",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "file",
                "inputDataFieldName": "audioFile"
              },
              {
                "name": "model",
                "value": "large-v3"
              },
              {
                "name": "response_format",
                "value": "verbose_json"
              },
              {
                "name": "temperature",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "write-transcribe",
      "name": "Write Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileSelector": "={{ '/tmp/transcript-' + $node[\"Parse Write Request\"].json[\"recordingId\"] + '.json' }}",
        "dataPropertyName": "data"
      },
      "id": "write-transcript-file",
      "name": "Write Transcript File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transcriber.recordings SET status = $1 WHERE id = $2",
        "additionalFields": {
          "queryParameters": [
            "={{ 'done' }}",
            "={{ $node[\"Parse Write Request\"].json[\"recordingId\"] }}"
          ]
        }
      },
      "id": "update-write-status",
      "name": "Update Write Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "PostgreSQL Main DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-write",
      "name": "Respond Write",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Transcribe Write Webhook": {
      "main": [
        [
          {
            "node": "Parse Write Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Write Request": {
      "main": [
        [
          {
            "node": "Read Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Write File": {
      "main": [
        [
          {
            "node": "Write Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Transcribe": {
      "main": [
        [
          {
            "node": "Write Transcript File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Transcript File": {
      "main": [
        [
          {
            "node": "Update Write Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Write Status": {
      "main": [
        [
          {
            "node": "Respond Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "id": "transcriber-with-write-file"
}