old/legacy-stack/n8n/old-attempts/transcribe-with-http.json
{
  "name": "Transcriber - With HTTP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe-with-http",
        "options": {}
      },
      "id": "webhook-transcribe-http",
      "name": "Transcribe HTTP Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "transcribe-with-http"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().body;\nconst recordingId = data.recordingId || 'test-123';\nconst audioPath = data.audioPath || '/tmp/test.wav';\n\nreturn {\n  recordingId,\n  audioPath\n};"
      },
      "id": "parse-http-request",
      "name": "Parse HTTP Request", 
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.audioPath }}"
      },
      "id": "read-http-file",
      "name": "Read HTTP File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://transcriber-asr-gateway:8000/v1/audio/transcriptions",
        "options": {
          "bodyContentType": "multipart-form-data",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "file",
                "inputDataFieldName": "audioFile"
              },
              {
                "name": "model",
                "value": "large-v3"
              },
              {
                "name": "response_format",
                "value": "verbose_json"
              },
              {
                "name": "temperature",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "http-transcribe",
      "name": "HTTP Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transcriber.recordings SET status = $1 WHERE id = $2",
        "additionalFields": {
          "queryParameters": "={{ ['done', $node[\"Parse HTTP Request\"].json[\"recordingId\"]] }}"
        }
      },
      "id": "update-http-status",
      "name": "Update HTTP Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "PostgreSQL Main DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-http",
      "name": "Respond HTTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Transcribe HTTP Webhook": {
      "main": [
        [
          {
            "node": "Parse HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTTP Request": {
      "main": [
        [
          {
            "node": "Read HTTP File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read HTTP File": {
      "main": [
        [
          {
            "node": "HTTP Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Transcribe": {
      "main": [
        [
          {
            "node": "Update HTTP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HTTP Status": {
      "main": [
        [
          {
            "node": "Respond HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "id": "transcriber-with-http"
}