old/legacy-stack/n8n/workflows/old/01-file-ingest-live.json
{"createdAt":"2025-09-09T15:49:44.840Z","updatedAt":"2025-09-09T17:31:52.808Z","id":"WrNtkpeYQ7RP6yD2","name":"Transcriber - File Ingest","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ingest","options":{}},"id":"webhook-ingest","name":"File Upload Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"ingest"},{"parameters":{"jsCode":"// Extract user email from Cloudflare Access headers\n// For now, we'll use a test user until Cloudflare Access is integrated\nconst userEmail = $input.first().headers['cf-access-authenticated-user-email'] || 'test@solfamily.group';\nconst userName = userEmail.split('@')[0];\n\n// Extract form data\nconst formData = $input.first().body;\nconst mode = formData.mode || 'single';\nconst name = formData.name || `recording_${new Date().toISOString().replace(/[:.]/g, '-')}`;\nconst source = formData.source || 'web-desktop';\n\n// File info (will be available after file is processed)\nconst fileName = formData.filename || 'audio_file';\nconst fileData = $input.first().binary?.file;\n\nreturn {\n  userEmail,\n  userName,\n  mode,\n  name,\n  source,\n  fileName,\n  hasFile: !!fileData,\n  timestamp: new Date().toISOString()\n};"},"id":"process-upload","name":"Process Upload Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"operation":"executeQuery","query":"SELECT transcriber.get_or_create_user($1, $2) as user_id","additionalFields":{"queryParameters":"={{ [$node[\"Process Upload Data\"].json[\"userEmail\"], $node[\"Process Upload Data\"].json[\"userName\"]] }}"}},"id":"get-user","name":"Get or Create User","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,300],"credentials":{"postgres":{"id":"OMZYbl9bxs7QVk3p","name":"Postgres account"}}},{"parameters":{"operation":"insert","schema":"transcriber","table":"recordings","columns":"user_id, name, mode, source, status, audio_path","additionalFields":{"queryParameters":"={{ [$node[\"Get or Create User\"].json[\"user_id\"], $node[\"Process Upload Data\"].json[\"name\"], $node[\"Process Upload Data\"].json[\"mode\"], $node[\"Process Upload Data\"].json[\"source\"], 'queued', `/data/audio/${$node[\"Get or Create User\"].json[\"user_id\"]}/${$node[\"Process Upload Data\"].json[\"name\"]}.wav`] }}"}},"id":"create-recording","name":"Create Recording Record","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[900,300],"credentials":{"postgres":{"id":"OMZYbl9bxs7QVk3p","name":"Postgres account"}}},{"parameters":{"jsCode":"// Generate file paths\nconst userId = $node[\"Get or Create User\"].json.user_id;\nconst recordingId = $node[\"Create Recording Record\"].json.id;\nconst fileName = $node[\"Process Upload Data\"].json.name;\n\n// Create directory structure\nconst audioDir = `/data/audio/${userId}`;\nconst audioPath = `${audioDir}/${recordingId}.wav`;\n\nreturn {\n  recordingId,\n  userId,\n  fileName,\n  audioDir,\n  audioPath\n};"},"id":"prepare-file-paths","name":"Prepare File Paths","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"command":"mkdir -p {{ $node[\"Prepare File Paths\"].json[\"audioDir\"] }}"},"id":"create-directory","name":"Create Audio Directory","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1340,300]},{"parameters":{"operation":"write","fileSelector":"={{ $node[\"Prepare File Paths\"].json[\"audioPath\"] }}","dataPropertyName":"file","options":{}},"id":"save-file","name":"Save Audio File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1560,300]},{"parameters":{"operation":"update","schema":"transcriber","table":"recordings","updateKey":"id","columns":"status, started_at","additionalFields":{"queryParameters":"={{ ['processing', new Date().toISOString(), $node[\"Prepare File Paths\"].json[\"recordingId\"]] }}"}},"id":"update-status","name":"Update Status to Processing","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1780,300],"credentials":{"postgres":{"id":"OMZYbl9bxs7QVk3p","name":"Postgres account"}}},{"parameters":{"url":"http://localhost:5678/webhook/transcribe-job","options":{"bodyContentType":"json","jsonBody":"={{ {\n  \"recordingId\": $node[\"Prepare File Paths\"].json[\"recordingId\"],\n  \"mode\": $node[\"Process Upload Data\"].json[\"mode\"],\n  \"audioPath\": $node[\"Prepare File Paths\"].json[\"audioPath\"]\n} }}"}},"id":"trigger-transcribe","name":"Trigger Transcribe Job","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2000,300]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"job_id\": $node[\"Prepare File Paths\"].json[\"recordingId\"],\n  \"status\": \"queued\",\n  \"message\": \"File uploaded and processing started\"\n} }}"},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2220,300]}],"connections":{"File Upload Webhook":{"main":[[{"node":"Process Upload Data","type":"main","index":0}]]},"Process Upload Data":{"main":[[{"node":"Get or Create User","type":"main","index":0}]]},"Get or Create User":{"main":[[{"node":"Create Recording Record","type":"main","index":0}]]},"Create Recording Record":{"main":[[{"node":"Prepare File Paths","type":"main","index":0}]]},"Prepare File Paths":{"main":[[{"node":"Create Audio Directory","type":"main","index":0}]]},"Create Audio Directory":{"main":[[{"node":"Save Audio File","type":"main","index":0}]]},"Save Audio File":{"main":[[{"node":"Update Status to Processing","type":"main","index":0}]]},"Update Status to Processing":{"main":[[{"node":"Trigger Transcribe Job","type":"main","index":0}]]},"Trigger Transcribe Job":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"e945884b-b502-4612-b996-b84251a81fe2","triggerCount":1,"shared":[{"createdAt":"2025-09-09T15:49:44.840Z","updatedAt":"2025-09-09T15:49:44.840Z","role":"workflow:owner","workflowId":"WrNtkpeYQ7RP6yD2","projectId":"HdMNktdmdh00lyQy","project":{"createdAt":"2025-04-30T03:48:13.440Z","updatedAt":"2025-04-30T03:52:49.307Z","id":"HdMNktdmdh00lyQy","name":"Luke Skywalker <lukeskywalker.cauterize385@passinbox.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-30T03:48:13.440Z","updatedAt":"2025-04-30T03:48:13.440Z","role":"project:personalOwner","userId":"243770bf-f59d-4b27-89de-8655b7a634fd","projectId":"HdMNktdmdh00lyQy","user":{"createdAt":"2025-04-30T03:48:12.496Z","updatedAt":"2025-09-13T04:44:59.616Z","id":"243770bf-f59d-4b27-89de-8655b7a634fd","email":"lukeskywalker.cauterize385@passinbox.com","firstName":"Luke","lastName":"Skywalker","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-30T03:50:22.401Z","personalization_survey_n8n_version":"1.89.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"x1ibYYRAG05p6fYZ","userActivatedAt":1746025258022,"npsSurvey":{"responded":true,"lastShownAt":1748381037833}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-13","isPending":false}}]}}],"tags":[]}