n8n/workflows/02 Transcriber - Transcribe Job.json
{
  "name": "Transcriber - Transcribe Job",
  "nodes": [
    {
      "parameters": {
        "path": "transcribe-job",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ca262d4d-c7b8-490b-8eec-d54b50668ff4",
      "name": "Transcribe Job Webhook",
      "webhookId": "284d76d2-966f-4af1-85be-752cbe55f1f1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "338ea13a-cd34-4b39-9265-c4de039dd0ce",
              "leftValue": "={{ $node[\"Parse Job Data\"].json[\"mode\"] }}",
              "rightValue": "single",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "c206d6b5-13ab-4ab3-b8eb-54cbee0d04c9",
      "name": "Check Mode"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst recordingId = data.recordingId;\nconst mode = data.mode;\nconst audioPath = data.audioPath;\n\nconsole.log('Received webhook data:', data);\nconsole.log('Extracted values:', { recordingId, mode, audioPath });\n\nreturn {\n  recordingId,\n  mode,\n  audioPath,\n  timestamp: new Date().toISOString()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "59d83345-d752-44ab-9241-5de9b7ba3de5",
      "name": "Parse Job Data"
    },
    {
      "parameters": {
        "fileSelector": "=/files/{{ $json.user_id }}/{{ $json.recording_id }}.{{ $json.file_extension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "bc10d5a1-fb81-444a-a704-3077260bc14b",
      "name": "Read Audio File (single)"
    },
    {
      "parameters": {
        "fileSelector": "=/files/{{ $json.user_id }}/{{ $json.recording_id }}.{{ $json.file_extension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        624,
        64
      ],
      "id": "fbb8c13e-06f9-4117-b627-65b48655344a",
      "name": "Read Audio File (multi)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://transcriber-asr-gateway:8000/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audioFile"
            },
            {
              "name": "model",
              "value": "large-v3"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "temperature",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -96
      ],
      "id": "9d5f2004-241c-41e9-8495-dc5eae3fe9d5",
      "name": "Single Speaker Transcribe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://transcriber-asr-gateway:8000/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audioFile"
            },
            {
              "name": "model",
              "value": "medium.en"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "temperature",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        64
      ],
      "id": "69dbe23e-dd2f-4f2e-a792-c4ac9d0249c3",
      "name": "Multi Speaker Transcribe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://transcriber-whisperx-worker:8000/diarize",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audioFile"
            },
            {
              "name": "transcript_json",
              "value": "={{ JSON.stringify($node[\"Multi Speaker Transcribe\"].json) }}}"
            },
            {
              "name": "min_speakers",
              "value": "1"
            },
            {
              "name": "max_speakers",
              "value": "19"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        64
      ],
      "id": "fb8896d5-9c01-4e49-9064-8c3acaee1b03",
      "name": "Diarize Audio"
    },
    {
      "parameters": {
        "jsCode": "// Process transcription result for single mode\nconst transcription = $input.first().json;\nconst recordingId = $node[\"Parse Job Data\"].json.recordingId;\nconst audioPath = $node[\"Parse Job Data\"].json.audioPath;\nconst userId = audioPath.split('/')[3]; // Extract from path\n\n// Prepare file paths\nconst transcriptDir = `/data/transcripts/${userId}`;\nconst textPath = `${transcriptDir}/${recordingId}.txt`;\nconst vttPath = `${transcriptDir}/${recordingId}.vtt`;\nconst srtPath = `${transcriptDir}/${recordingId}.srt`;\nconst jsonPath = `${transcriptDir}/${recordingId}.json`;\n\n// Extract text and metadata\nconst transcriptText = transcription.text || '';\nconst language = transcription.language || 'unknown';\nconst duration = transcription.duration || 0;\n\n// Generate VTT format\nlet vttContent = 'WEBVTT\\n\\n';\nif (transcription.segments) {\n  transcription.segments.forEach((segment, index) => {\n    const start = formatTime(segment.start);\n    const end = formatTime(segment.end);\n    vttContent += `${index + 1}\\n${start} --> ${end}\\n${segment.text.trim()}\\n\\n`;\n  });\n}\n\n// Generate SRT format\nlet srtContent = '';\nif (transcription.segments) {\n  transcription.segments.forEach((segment, index) => {\n    const start = formatSRTTime(segment.start);\n    const end = formatSRTTime(segment.end);\n    srtContent += `${index + 1}\\n${start} --> ${end}\\n${segment.text.trim()}\\n\\n`;\n  });\n}\n\nfunction formatTime(seconds) {\n  const hrs = Math.floor(seconds / 3600);\n  const mins = Math.floor((seconds % 3600) / 60);\n  const secs = (seconds % 60).toFixed(3);\n  return `${hrs.toString().padStart(2, '0')}:${mins.toString().padStart(2, '0')}:${secs.padStart(6, '0')}`;\n}\n\nfunction formatSRTTime(seconds) {\n  const hrs = Math.floor(seconds / 3600);\n  const mins = Math.floor((seconds % 3600) / 60);\n  const secs = (seconds % 60).toFixed(3).replace('.', ',');\n  return `${hrs.toString().padStart(2, '0')}:${mins.toString().padStart(2, '0')}:${secs.padStart(6, '0')}`;\n}\n\nreturn {\n  recordingId,\n  userId,\n  transcriptDir,\n  textPath,\n  vttPath,\n  srtPath,\n  jsonPath,\n  transcriptText,\n  vttContent,\n  srtContent,\n  jsonContent: JSON.stringify(transcription, null, 2),\n  language,\n  duration,\n  mode: 'single',\n  status: 'done',\n  completed_at: new Date().toISOString(),\n  processing_time_seconds: duration\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -96
      ],
      "id": "a8dcdebd-0abb-47ae-b1f8-645b4cd2f6bf",
      "name": "Process Single Result"
    },
    {
      "parameters": {
        "jsCode": "// Use $json for the transcription result, generate your outputs here\nreturn {\n  transcriptText: '...',\n  vttContent: '...',\n  srtContent: '...',\n  jsonContent: '...',\n  transcriptDir: '/desired/path/for/transcripts',\n  textPath: '/desired/path/file.txt',\n  vttPath: '/desired/path/file.vtt',\n  srtPath: '/desired/path/file.srt',\n  jsonPath: '/desired/path/file.json'\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        64
      ],
      "id": "42d9dc68-f3cb-4a5d-9705-9566955bd355",
      "name": "Process Multi Result"
    },
    {
      "parameters": {
        "command": "mkdir -p {{ $json.transcriptDir }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1392,
        0
      ],
      "id": "ad539251-2661-4403-b723-9eba4af76999",
      "name": "Create Transcript Dir"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.textPath }}",
        "dataPropertyName": "transcriptText",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ],
      "id": "006a41d9-7cb9-41c3-9ed1-de8e8d1a1a96",
      "name": "Write Text File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.vttPath }}",
        "dataPropertyName": "vttContent",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1776,
        0
      ],
      "id": "504f17ce-6c4c-44ec-8401-f29d31941096",
      "name": "Write VTT File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.srtPath }}",
        "dataPropertyName": "srtContent",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1952,
        0
      ],
      "id": "41a4c5c9-6eb8-46fb-aef7-d20bdef120ac",
      "name": "Write SRT File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.jsonPath }}",
        "dataPropertyName": "jsonContent",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2128,
        0
      ],
      "id": "27b399cf-2519-4650-a76e-d47a14a26bca",
      "name": "Write JSON File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transcriber.transcripts (recording_id, text_path, vtt_path, srt_path, words_json_path, language_detected, processing_time_seconds) \nVALUES ($1, $2, $3, $4, $5, $6, $7)",
        "options": {
          "queryReplacement": "=[\n  {{$json.recording_id}},\n  {{$json.textPath}},\n  {{$json.vttPath}},\n  {{$json.srtPath}},\n  {{$json.jsonPath}},\n  {{$json.language_detected}},\n  {{$json.processing_time_seconds}}\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        0
      ],
      "id": "ec35a10b-603b-4163-8123-d24eeddbb85b",
      "name": "Save Transcript Record",
      "credentials": {
        "postgres": {
          "id": "OMZYbl9bxs7QVk3p",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transcriber.recordings SET status = $1, completed_at = $2, duration_seconds = $3 WHERE id = $4",
        "options": {
          "queryReplacement": "=[\n  {{$json.status}},\n  {{$json.completed_at}},\n  {{$json.duration_seconds}},\n  {{$json.recording_id}}\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2544,
        0
      ],
      "id": "32eed9e0-c9b4-4e5a-b0fe-5c7db4c67322",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "OMZYbl9bxs7QVk3p",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Transcribe Job Webhook": {
      "main": [
        [
          {
            "node": "Parse Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Data": {
      "main": [
        [
          {
            "node": "Check Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mode": {
      "main": [
        [
          {
            "node": "Read Audio File (single)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Audio File (multi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Audio File (single)": {
      "main": [
        [
          {
            "node": "Single Speaker Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Audio File (multi)": {
      "main": [
        [
          {
            "node": "Multi Speaker Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi Speaker Transcribe": {
      "main": [
        [
          {
            "node": "Diarize Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Single Speaker Transcribe": {
      "main": [
        [
          {
            "node": "Process Single Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diarize Audio": {
      "main": [
        [
          {
            "node": "Process Multi Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Single Result": {
      "main": [
        [
          {
            "node": "Create Transcript Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Multi Result": {
      "main": [
        [
          {
            "node": "Create Transcript Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Transcript Dir": {
      "main": [
        [
          {
            "node": "Write Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Text File": {
      "main": [
        [
          {
            "node": "Write VTT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write VTT File": {
      "main": [
        [
          {
            "node": "Write SRT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write SRT File": {
      "main": [
        [
          {
            "node": "Write JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write JSON File": {
      "main": [
        [
          {
            "node": "Save Transcript Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Transcript Record": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba2ce04e-37b8-4b27-b907-a95ff8cea5e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abfe09676dfbf795c9ccb50b58f5253d6d13f06369b5cd61be28c22aae4babbb"
  },
  "id": "NF6URNUhbtmiy9eM",
  "tags": []
}