old/legacy-stack/n8n/workflows/01 Transcriber - File Ingest.json
{
  "name": "Transcriber - File Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "File Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        480
      ],
      "webhookId": "ingest"
    },
    {
      "parameters": {
        "jsCode": "// Extract user email from Cloudflare Access headers\nconst inputData = $input.first() || {};\nconst headers = inputData.headers || {};\nconst body = inputData.body || {};\n\nconst userEmail = headers['cf-access-authenticated-user-email'] || \n                  headers['CF-Access-Authenticated-User-Email'] ||\n                  headers['cf_access_authenticated_user_email'] ||\n                  'ben@solfamily.group';\nconst userName = userEmail.split('@')[0];\n\n// Extract form data\nconst mode = body.mode || 'single';\nconst name = body.name || `recording_${new Date().toISOString().replace(/[:.]/g, '-')}`;\nconst source = body.source || 'web-desktop';\n\n// File info (will be available after file is processed)\nconst fileName = body.filename || 'audio_file';\nconst fileData = inputData.binary?.file;\n\n// Extract file extension from filename\nconst fileExtension = fileName.includes('.') ? fileName.split('.').pop().toLowerCase() : 'mp3';\n\n// Debug logging\nconsole.log('User email found:', userEmail);\nconsole.log('Has file data:', !!fileData);\nconsole.log('File name:', fileName, 'Extension:', fileExtension);\nconsole.log('Form data:', { mode, name, source, fileName });\n\n// Return both JSON data and preserve binary\nreturn {\n  json: {\n    userEmail,\n    userName,\n    mode,\n    name,\n    source,\n    fileName,\n    fileExtension,\n    hasFile: !!fileData,\n    timestamp: new Date().toISOString()\n  },\n  binary: inputData.binary || {} // Preserve the binary data\n};"
      },
      "id": "process-upload",
      "name": "Process Upload Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT transcriber.get_or_create_user('{{ $json.userEmail }}', '{{ $json.userName }}') as user_id",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "get-user",
      "name": "Get or Create User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        688,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "OMZYbl9bxs7QVk3p",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transcriber.recordings (id, user_id, name, mode, source, status, audio_path, created_at, updated_at) VALUES (gen_random_uuid(), '{{ $('Get or Create User').item.json.user_id }}', '{{ $('Process Upload Data').item.json.name }}', '{{ $('Process Upload Data').item.json.mode }}', '{{ $('Process Upload Data').item.json.source }}', 'queued', '/files/{{ $('Get or Create User').item.json.user_id }}/{{ $('Process Upload Data').item.json.name }}.{{ $('Process Upload Data').item.json.fileExtension }}', NOW(), NOW()) RETURNING id, user_id, name, status",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "create-recording",
      "name": "Create Recording Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        912,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "OMZYbl9bxs7QVk3p",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate file paths\nconst userId = $('Get or Create User').item.json.user_id;\nconst recordingId = $('Create Recording Record').item.json.id;\nconst fileName = $('Process Upload Data').item.json.name;\nconst fileExtension = $('Process Upload Data').item.json.fileExtension;\n\n// Create directory structure - using mounted volume\nconst audioDir = `/files/${userId}`;\nconst audioPath = `${audioDir}/${recordingId}.${fileExtension}`;\n\n// Get binary data from input (passed through previous nodes)\nconst inputData = $input.first();\nconst binaryData = inputData.binary || {};\n\nreturn {\n  json: {\n    recordingId,\n    userId,\n    fileName,\n    fileExtension,\n    audioDir,\n    audioPath\n  },\n  binary: binaryData // Pass through the binary data from input\n};"
      },
      "id": "prepare-file-paths",
      "name": "Prepare File Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "command": "mkdir -p {{ $node[\"Prepare File Paths\"].json[\"audioDir\"] }}"
      },
      "id": "create-directory",
      "name": "Create Audio Directory",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        304
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Prepare File Paths').item.json.audioPath }}",
        "dataPropertyName": "file",
        "options": {}
      },
      "id": "save-file",
      "name": "Save Audio File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1776,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "transcriber",
        "table": "recordings",
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status",
              "value": "={{ $json.status }}"
            },
            {
              "column": "started_at",
              "value": "={{ $json.started_at }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-status",
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2208,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "OMZYbl9bxs7QVk3p",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.solfamily.group/webhook/transcribe-job",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recordingId",
              "value": "={{ $('Prepare File Paths').item.json.recordingId }}"
            },
            {
              "name": "mode",
              "value": "={{ $('Process Upload Data').item.json.mode }}"
            },
            {
              "name": "audioPath",
              "value": "={{ $('Prepare File Paths').item.json.audioPath }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-transcribe",
      "name": "Trigger Transcribe Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2416,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"job_id\": $node[\"Prepare File Paths\"].json[\"recordingId\"],\n  \"status\": \"queued\",\n  \"message\": \"File uploaded and processing started\"\n} }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2640,
        304
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        304
      ],
      "id": "103fc272-aca2-4531-9f91-32d8db6cf1e1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f2be184-e015-43f9-a9e1-608a2ea94074",
              "name": "id",
              "value": "={{ $node[\"Prepare File Paths\"].json[\"recordingId\"] }}",
              "type": "string"
            },
            {
              "id": "8f3ce285-f126-54a0-b0f2-719b3fb95185",
              "name": "status",
              "value": "processing",
              "type": "string"
            },
            {
              "id": "9g4df396-g237-65b1-c1g3-820c4gc06296",
              "name": "started_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        304
      ],
      "id": "ee1d9e22-3758-43e3-a22f-7d0e9b194811",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "File Upload Webhook": {
      "main": [
        [
          {
            "node": "Process Upload Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Process Upload Data": {
      "main": [
        [
          {
            "node": "Get or Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get or Create User": {
      "main": [
        [
          {
            "node": "Create Recording Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Recording Record": {
      "main": [
        [
          {
            "node": "Prepare File Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Paths": {
      "main": [
        [
          {
            "node": "Create Audio Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audio Directory": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "node": "Trigger Transcribe Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Transcribe Job": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Save Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "5bd673d5-5b2a-42ea-8eb0-ba509ebb883f",
  "meta": {
    "instanceId": "abfe09676dfbf795c9ccb50b58f5253d6d13f06369b5cd61be28c22aae4babbb"
  },
  "id": "WrNtkpeYQ7RP6yD2",
  "tags": []
}