old/legacy-stack/n8n/workflows/04 Transcriber - API Recording Detail.json
{
  "name": "Transcriber - API Recording Detail",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e99e9d6-4133-46d0-8f4d-e4d333af57ce",
              "leftValue": "={{ $items(\"Get Recording Detail\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "94698740-142e-4d77-8e21-13fdbf040291",
      "name": "Check Recording Exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, t.text_path, t.vtt_path, t.srt_path, t.words_json_path, t.diarization_json_path, t.language_detected, t.speaker_count\nFROM transcriber.recordings r\nINNER JOIN transcriber.users u ON r.user_id = u.id\nLEFT JOIN transcriber.transcripts t ON r.id = t.recording_id\nWHERE u.email = $1 AND r.id = $2\n",
        "options": {
          "queryReplacement": "={{ [\n  $node[\"Parse Detail Request\"].json[\"userEmail\"],\n  $node[\"Parse Detail Request\"].json[\"recordingId\"]\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "acddb79f-f843-4347-aff8-c1f164993a13",
      "name": "Get Recording Detail",
      "credentials": {
        "postgres": {
          "id": "OMZYbl9bxs7QVk3p",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Debug: Log the full input to see structure\nconsole.log('Full webhook input:', JSON.stringify($json, null, 2));\n\nconst { headers = {}, params = {}, query = {}, queryParameters = {} } = $json;\n\n// Try multiple possible locations for query parameters\nconst userEmail =\n  headers['cf-access-authenticated-user-email'] ||\n  headers['x-dev-user-email'] ||\n  query.user_email || query.email ||\n  queryParameters.user_email || queryParameters.email ||\n  $json.user_email ||\n  'ben@solfamily.group'; // Changed default from test@ to ben@\n\nconst recordingId =\n  params.recordingId ||\n  query.recordingId || query.id ||\n  queryParameters.recordingId || queryParameters.id ||\n  $json.recordingId;\n\nconsole.log('Parsed userEmail:', userEmail);\nconsole.log('Parsed recordingId:', recordingId);\n\nreturn { userEmail, recordingId };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "46ebd967-85d3-46bc-b4ce-a627ec395425",
      "name": "Parse Detail Request"
    },
    {
      "parameters": {
        "filePath": "={{ $item(0, 'Get Recording Detail').json.text_path }}"
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        832,
        -240
      ],
      "id": "0b2d3f0e-4f56-4dc1-9c2b-8f362e4bca2d",
      "name": "Read Transcript File",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "transcript_text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1040,
        -240
      ],
      "id": "7e9d965c-9f6f-42ba-92a1-51e8b5a7823e",
      "name": "Extract Transcript Text"
    },
    {
      "parameters": {
        "filePath": "={{ $item(0, 'Get Recording Detail').json.diarization_json_path || $item(0, 'Get Recording Detail').json.words_json_path }}"
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1248,
        -240
      ],
      "id": "6a54b8d0-3f2b-4b2a-9f5e-35f0c1aa5e97",
      "name": "Read Diarization File",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "diarization_json",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1456,
        -240
      ],
      "id": "8c176f3b-87dd-4f5c-9b5f-0b7c43d8c5a6",
      "name": "Extract Diarization JSON"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const record = $item(0, 'Get Recording Detail', 0)?.json ?? {};\nconst base = 'https://transcriber.solfamily.group';\n\nconst transcriptText = $json.transcript_text ?? null;\nlet diarizationJson = $json.diarization_json ?? null;\n\nif (typeof diarizationJson === 'string') {\n  try {\n    diarizationJson = JSON.parse(diarizationJson);\n  } catch (error) {\n    console.error('Failed to parse diarization json string', error.message);\n    diarizationJson = null;\n  }\n}\n\nreturn {\n  id: record.id,\n  name: record.name,\n  mode: record.mode,\n  created_at: record.created_at,\n  duration_seconds: record.duration_seconds ?? null,\n  status: record.status,\n  transcript_text: transcriptText,\n\n  // Only include download URLs when we have something to link to\n  download_audio_url: record.id ? `${base}/downloads/audio/${record.id}` : null,\n  download_txt_url: record.text_path ? `${base}/downloads/txt/${record.id}` : null,\n  download_srt_url: record.srt_path ? `${base}/downloads/srt/${record.id}` : null,\n  download_vtt_url: record.vtt_path ? `${base}/downloads/vtt/${record.id}` : null,\n\n  language_detected: record.language_detected ?? null,\n  speaker_count: record.speaker_count ?? null,\n  diarization_json: diarizationJson,\n  debug_record: record,\n  debug_current: $json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -96
      ],
      "id": "d7d2c10c-12b5-475a-b134-2d126c69a73a",
      "name": "Build Detail Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        -96
      ],
      "id": "b2599ba8-b1b6-4c42-9c3e-e036b1abe9b0",
      "name": "Respond with Detail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Recording not found\" } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        96
      ],
      "id": "5e951e70-d0aa-4c24-a338-e79337611ca0",
      "name": "Respond Not Found"
    },
    {
      "parameters": {
        "path": "api/recordings/:recordingId",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2f73247c-15ad-4d35-9c1d-1c2d6a9a7d9c",
      "name": "Get Recording Detail API",
      "webhookId": "e938fac8-a0f9-47b3-a706-92b5f6fa4e1d"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Recording Detail": {
      "main": [
        [
          {
            "node": "Check Recording Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Detail Request": {
      "main": [
        [
          {
            "node": "Get Recording Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recording Exists": {
      "main": [
        [
          {
            "node": "Read Transcript File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Transcript File": {
      "main": [
        [
          {
            "node": "Extract Transcript Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcript Text": {
      "main": [
        [
          {
            "node": "Read Diarization File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Diarization File": {
      "main": [
        [
          {
            "node": "Extract Diarization JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Diarization JSON": {
      "main": [
        [
          {
            "node": "Build Detail Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Detail Response": {
      "main": [
        [
          {
            "node": "Respond with Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recording Detail API": {
      "main": [
        [
          {
            "node": "Parse Detail Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0b36daa-b800-4e68-b4d4-c3b92dfd58e3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "jMdvnYl96IG4JzzV",
  "tags": []
}
