old/legacy-stack/n8n/workflows/05 Transcriber - API Job Status manual.json
{
  "name": "Transcriber - API Job Status manual",
  "nodes": [
    {
      "parameters": {
        "path": "api/jobs/:jobId",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8e5f0544-732c-4559-a571-c41224b22304",
      "name": "Get Job Status API",
      "webhookId": "20fa5f02-a49f-40d0-83c6-62a995ccdec7"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { headers = {}, params = {}, query = {} } = $json;\n\nconst userEmail =\n  headers['cf-access-authenticated-user-email'] ||\n  headers['x-dev-user-email'] ||\n  query.user_email || query.email ||\n  'test@solfamily.group';\n\nconst jobId =\n  params.jobId ||\n  query.jobId || query.id;\n\nreturn { userEmail, jobId };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "93f455cf-7a3e-440e-9c84-9e551e949e0c",
      "name": "Parse Job Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.id, r.status, r.created_at, r.started_at, r.completed_at, r.error_message \nFROM transcriber.recordings r \nINNER JOIN transcriber.users u ON r.user_id = u.id \nWHERE u.email = $1 AND r.id = $2\n",
        "options": {
          "queryReplacement": "={{ [\n  $node[\"Parse Job Request\"].json[\"userEmail\"],\n  $node[\"Parse Job Request\"].json[\"jobId\"]\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "8779af48-b6bb-4786-b0b6-c06c104a9b2c",
      "name": "Get Job Status",
      "credentials": {
        "postgres": {
          "id": "OMZYbl9bxs7QVk3p",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46530cbf-d943-4f4b-aea9-5e2338272114",
              "leftValue": "={{ $items(\"Get Job Status\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "584e07c6-ed4c-4a33-9b99-aa7d6f0bc8c8",
      "name": "Check Job Exists"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const record = $json;\n\n// Map status to a coarse progress\nlet progress = 0;\nif (record.status === 'done') {\n  progress = 1.0;\n} else if (record.status === 'processing') {\n  progress = 0.5;\n} else if (record.status === 'error' || record.status === 'failed') {\n  progress = 0;\n} else {\n  // queued or unknown\n  progress = 0;\n}\n\nreturn {\n  id: record.id,\n  status: record.status,\n  progress,\n  created_at: record.created_at ?? null,\n  started_at: record.started_at ?? null,\n  completed_at: record.completed_at ?? null,\n  error_message: record.error_message ?? null,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -96
      ],
      "id": "5fc70751-2fc1-486d-9da4-dfbabda05286",
      "name": "Build Job Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Job not found\" } }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        96
      ],
      "id": "f269d955-fff5-406e-a0d4-1c7bc78c6a04",
      "name": "Respond Job Not Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        -96
      ],
      "id": "5aa5c24d-f63a-433f-88a4-c79d548f54da",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Job Status API": {
      "main": [
        [
          {
            "node": "Parse Job Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Request": {
      "main": [
        [
          {
            "node": "Get Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Status": {
      "main": [
        [
          {
            "node": "Check Job Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Exists": {
      "main": [
        [
          {
            "node": "Build Job Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Job Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Job Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd489cd9-49a7-45f5-82db-f033d259d8c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abfe09676dfbf795c9ccb50b58f5253d6d13f06369b5cd61be28c22aae4babbb"
  },
  "id": "G08Ka1m4nfZsIDvQ",
  "tags": []
}