n8n/old-attempts/02-transcribe-job-final.json
{
  "name": "Transcriber - Transcribe Job",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe-job",
        "options": {}
      },
      "id": "webhook-transcribe",
      "name": "Transcribe Job Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "transcribe-job"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().body;\nconst recordingId = data.recordingId;\nconst mode = data.mode;\nconst audioPath = data.audioPath;\n\nreturn {\n  recordingId,\n  mode,\n  audioPath,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse-job-data",
      "name": "Parse Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $node[\"Parse Job Data\"].json[\"mode\"] }}",
              "rightValue": "single",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-mode",
      "name": "Check Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $node[\"Parse Job Data\"].json[\"audioPath\"] }}"
      },
      "id": "read-audio-file",
      "name": "Read Audio File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "url": "http://transcriber-asr-gateway:8000/v1/audio/transcriptions",
        "options": {
          "bodyContentType": "multipart-form-data",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "file",
                "inputDataFieldName": "audioFile"
              },
              {
                "name": "model",
                "value": "large-v3"
              },
              {
                "name": "response_format",
                "value": "verbose_json"
              },
              {
                "name": "temperature",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "single-transcribe",
      "name": "Single Speaker Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://transcriber-asr-gateway:8000/v1/audio/transcriptions",
        "options": {
          "bodyContentType": "multipart-form-data",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "file",
                "inputDataFieldName": "audioFile"
              },
              {
                "name": "model",
                "value": "medium.en"
              },
              {
                "name": "response_format",
                "value": "verbose_json"
              },
              {
                "name": "temperature",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "multi-transcribe",
      "name": "Multi Speaker Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "http://transcriber-whisperx-worker:8000/diarize",
        "options": {
          "bodyContentType": "multipart-form-data",
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "audio_file",
                "inputDataFieldName": "audioFile"
              },
              {
                "name": "transcript_json",
                "value": "={{ JSON.stringify($node[\"Multi Speaker Transcribe\"].json) }}"
              },
              {
                "name": "min_speakers",
                "value": "1"
              },
              {
                "name": "max_speakers",
                "value": "10"
              }
            ]
          }
        }
      },
      "id": "diarize-audio",
      "name": "Diarize Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "// Process transcription result for single mode\nconst transcription = $input.first().json;\nconst recordingId = $node[\"Parse Job Data\"].json.recordingId;\nconst audioPath = $node[\"Parse Job Data\"].json.audioPath;\nconst userId = audioPath.split('/')[3]; // Extract from path\n\n// Prepare file paths\nconst transcriptDir = `/data/transcripts/${userId}`;\nconst textPath = `${transcriptDir}/${recordingId}.txt`;\nconst vttPath = `${transcriptDir}/${recordingId}.vtt`;\nconst srtPath = `${transcriptDir}/${recordingId}.srt`;\nconst jsonPath = `${transcriptDir}/${recordingId}.json`;\n\n// Extract text and metadata\nconst transcriptText = transcription.text || '';\nconst language = transcription.language || 'unknown';\nconst duration = transcription.duration || 0;\n\n// Generate VTT format\nlet vttContent = 'WEBVTT\\n\\n';\nif (transcription.segments) {\n  transcription.segments.forEach((segment, index) => {\n    const start = formatTime(segment.start);\n    const end = formatTime(segment.end);\n    vttContent += `${index + 1}\\n${start} --> ${end}\\n${segment.text.trim()}\\n\\n`;\n  });\n}\n\n// Generate SRT format\nlet srtContent = '';\nif (transcription.segments) {\n  transcription.segments.forEach((segment, index) => {\n    const start = formatSRTTime(segment.start);\n    const end = formatSRTTime(segment.end);\n    srtContent += `${index + 1}\\n${start} --> ${end}\\n${segment.text.trim()}\\n\\n`;\n  });\n}\n\nfunction formatTime(seconds) {\n  const hrs = Math.floor(seconds / 3600);\n  const mins = Math.floor((seconds % 3600) / 60);\n  const secs = (seconds % 60).toFixed(3);\n  return `${hrs.toString().padStart(2, '0')}:${mins.toString().padStart(2, '0')}:${secs.padStart(6, '0')}`;\n}\n\nfunction formatSRTTime(seconds) {\n  const hrs = Math.floor(seconds / 3600);\n  const mins = Math.floor((seconds % 3600) / 60);\n  const secs = (seconds % 60).toFixed(3).replace('.', ',');\n  return `${hrs.toString().padStart(2, '0')}:${mins.toString().padStart(2, '0')}:${secs.padStart(6, '0')}`;\n}\n\nreturn {\n  recordingId,\n  userId,\n  transcriptDir,\n  textPath,\n  vttPath,\n  srtPath,\n  jsonPath,\n  transcriptText,\n  vttContent,\n  srtContent,\n  jsonContent: JSON.stringify(transcription, null, 2),\n  language,\n  duration,\n  mode: 'single'\n};"
      },
      "id": "process-single-result",
      "name": "Process Single Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "// Process transcription + diarization result for multi mode\nconst diarization = $input.first().json;\nconst transcription = $node[\"Multi Speaker Transcribe\"].json;\nconst recordingId = $node[\"Parse Job Data\"].json.recordingId;\nconst audioPath = $node[\"Parse Job Data\"].json.audioPath;\nconst userId = audioPath.split('/')[3];\n\n// Prepare file paths\nconst transcriptDir = `/data/transcripts/${userId}`;\nconst textPath = `${transcriptDir}/${recordingId}.txt`;\nconst vttPath = `${transcriptDir}/${recordingId}.vtt`;\nconst srtPath = `${transcriptDir}/${recordingId}.srt`;\nconst jsonPath = `${transcriptDir}/${recordingId}.json`;\nconst diarizationPath = `${transcriptDir}/${recordingId}_diarization.json`;\n\n// Generate combined transcript with speaker labels\nlet transcriptText = '';\nlet vttContent = 'WEBVTT\\n\\n';\nlet srtContent = '';\n\nif (diarization.segments) {\n  diarization.segments.forEach((segment, index) => {\n    const speaker = segment.speaker || 'Speaker';\n    const text = segment.text || '';\n    transcriptText += `${speaker}: ${text}\\n\\n`;\n    \n    const start = formatTime(segment.start);\n    const end = formatTime(segment.end);\n    \n    // VTT format\n    vttContent += `${index + 1}\\n${start} --> ${end}\\n${speaker}: ${text}\\n\\n`;\n    \n    // SRT format \n    const srtStart = formatSRTTime(segment.start);\n    const srtEnd = formatSRTTime(segment.end);\n    srtContent += `${index + 1}\\n${srtStart} --> ${srtEnd}\\n${speaker}: ${text}\\n\\n`;\n  });\n}\n\nfunction formatTime(seconds) {\n  const hrs = Math.floor(seconds / 3600);\n  const mins = Math.floor((seconds % 3600) / 60);\n  const secs = (seconds % 60).toFixed(3);\n  return `${hrs.toString().padStart(2, '0')}:${mins.toString().padStart(2, '0')}:${secs.padStart(6, '0')}`;\n}\n\nfunction formatSRTTime(seconds) {\n  const hrs = Math.floor(seconds / 3600);\n  const mins = Math.floor((seconds % 3600) / 60);\n  const secs = (seconds % 60).toFixed(3).replace('.', ',');\n  return `${hrs.toString().padStart(2, '0')}:${mins.toString().padStart(2, '0')}:${secs.padStart(6, '0')}`;\n}\n\nreturn {\n  recordingId,\n  userId,\n  transcriptDir,\n  textPath,\n  vttPath,\n  srtPath,\n  jsonPath,\n  diarizationPath,\n  transcriptText,\n  vttContent,\n  srtContent,\n  jsonContent: JSON.stringify(transcription, null, 2),\n  diarizationContent: JSON.stringify(diarization, null, 2),\n  language: transcription.language || 'unknown',\n  duration: transcription.duration || 0,\n  speakerCount: diarization.num_speakers || 0,\n  mode: 'multi'\n};"
      },
      "id": "process-multi-result",
      "name": "Process Multi Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "command": "mkdir -p {{ $json.transcriptDir }}"
      },
      "id": "create-transcript-dir",
      "name": "Create Transcript Dir",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.textPath }}",
        "dataPropertyName": "transcriptText"
      },
      "id": "write-text-file",
      "name": "Write Text File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.vttPath }}",
        "dataPropertyName": "vttContent"
      },
      "id": "write-vtt-file",
      "name": "Write VTT File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.srtPath }}",
        "dataPropertyName": "srtContent"
      },
      "id": "write-srt-file",
      "name": "Write SRT File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.jsonPath }}",
        "dataPropertyName": "jsonContent"
      },
      "id": "write-json-file",
      "name": "Write JSON File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "transcriber",
        "table": "transcripts",
        "columns": "recording_id, text_path, vtt_path, srt_path, words_json_path, language_detected, processing_time_seconds",
        "additionalFields": {
          "queryParameters": "={{ [$json.recordingId, $json.textPath, $json.vttPath, $json.srtPath, $json.jsonPath, $json.language, $json.duration] }}"
        }
      },
      "id": "save-transcript-record",
      "name": "Save Transcript Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2000, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "PostgreSQL Main DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transcriber.recordings SET status = $1, completed_at = $2, duration_seconds = $3 WHERE id = $4",
        "additionalFields": {
          "queryParameters": "={{ ['done', new Date().toISOString(), $json.duration, $json.recordingId] }}"
        }
      },
      "id": "update-recording-complete",
      "name": "Update Recording Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2220, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "PostgreSQL Main DB"
        }
      }
    }
  ],
  "connections": {
    "Transcribe Job Webhook": {
      "main": [
        [
          {
            "node": "Parse Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Data": {
      "main": [
        [
          {
            "node": "Check Mode",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mode": {
      "main": [
        [
          {
            "node": "Single Speaker Transcribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Multi Speaker Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Single Speaker Transcribe": {
      "main": [
        [
          {
            "node": "Process Single Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi Speaker Transcribe": {
      "main": [
        [
          {
            "node": "Diarize Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diarize Audio": {
      "main": [
        [
          {
            "node": "Process Multi Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Single Result": {
      "main": [
        [
          {
            "node": "Create Transcript Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Multi Result": {
      "main": [
        [
          {
            "node": "Create Transcript Dir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Transcript Dir": {
      "main": [
        [
          {
            "node": "Write Text File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write VTT File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write SRT File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Text File": {
      "main": [
        [
          {
            "node": "Save Transcript Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Transcript Record": {
      "main": [
        [
          {
            "node": "Update Recording Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "errorWorkflow": {
      "callerPolicy": "workflowSettings"
    }
  },
  "id": "transcriber-transcribe-job-final"
}