n8n/old-attempts/test-file-ops.json
{
  "name": "Test File Operations Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/test-file-ops",
        "options": {}
      },
      "id": "webhook-test-file",
      "name": "Test File Ops Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "api-test-file-ops"
    },
    {
      "parameters": {
        "jsCode": "return { audioPath: '/data/audio/test.wav', textPath: '/data/transcripts/test.txt', content: 'Hello World' };"
      },
      "id": "test-file-data",
      "name": "Test File Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileName": "={{ $json.audioPath }}"
      },
      "id": "test-read-binary",
      "name": "Test Read Binary",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.textPath }}",
        "dataPropertyName": "content"
      },
      "id": "test-write-file",
      "name": "Test Write File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": \"file ops completed\" } }}"
      },
      "id": "respond-file-ops",
      "name": "Respond File Ops",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Test File Ops Webhook": {
      "main": [
        [
          {
            "node": "Test File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test File Data": {
      "main": [
        [
          {
            "node": "Test Read Binary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Read Binary": {
      "main": [
        [
          {
            "node": "Respond File Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Write File": {
      "main": [
        [
          {
            "node": "Respond File Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "id": "test-file-ops"
}