n8n/workflows/old/03-api-recordings-live.json
{"createdAt":"2025-09-09T15:50:05.655Z","updatedAt":"2025-09-09T15:52:15.738Z","id":"jHeWtPTYTBC5f0eE","name":"Transcriber - API Recordings","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"api/recordings","options":{}},"id":"webhook-recordings","name":"Get Recordings API","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"api-recordings"},{"parameters":{"jsCode":"// Extract user email from Cloudflare Access headers\nconst inputData = $input.first() || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\n\nconst userEmail = headers['cf-access-authenticated-user-email'] || \n                  headers['CF-Access-Authenticated-User-Email'] ||\n                  headers['cf_access_authenticated_user_email'] ||\n                  'ben@solfamily.group';\nconst limit = parseInt(query.limit) || 50;\n\n// Debug: log available data for troubleshooting\nconsole.log('Input data keys:', Object.keys(inputData));\nconsole.log('Available headers:', Object.keys(headers));\nconsole.log('User email found:', userEmail);\n\nreturn {\n  userEmail,\n  limit\n};"},"id":"parse-request","name":"Parse Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"operation":"executeQuery","query":"SELECT r.id, r.name, r.mode, r.created_at, r.duration_seconds, r.status FROM transcriber.recordings r INNER JOIN transcriber.users u ON r.user_id = u.id WHERE u.email = $1 ORDER BY r.created_at DESC LIMIT $2","additionalFields":{"queryParameters":"={{ [$node[\"Parse Request\"].json[\"userEmail\"], $node[\"Parse Request\"].json[\"limit\"]] }}"}},"id":"get-recordings","name":"Get User Recordings","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,300],"credentials":{"postgres":{"id":"OMZYbl9bxs7QVk3p","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"items\": $json } }}"},"id":"respond-recordings","name":"Respond with Recordings","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,300]}],"connections":{"Get Recordings API":{"main":[[{"node":"Parse Request","type":"main","index":0}]]},"Parse Request":{"main":[[{"node":"Get User Recordings","type":"main","index":0}]]},"Get User Recordings":{"main":[[{"node":"Respond with Recordings","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"44b4c531-4947-46e4-93ff-74167f70f7a4","triggerCount":1,"shared":[{"createdAt":"2025-09-09T15:50:05.655Z","updatedAt":"2025-09-09T15:50:05.655Z","role":"workflow:owner","workflowId":"jHeWtPTYTBC5f0eE","projectId":"HdMNktdmdh00lyQy","project":{"createdAt":"2025-04-30T03:48:13.440Z","updatedAt":"2025-04-30T03:52:49.307Z","id":"HdMNktdmdh00lyQy","name":"Luke Skywalker <lukeskywalker.cauterize385@passinbox.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-30T03:48:13.440Z","updatedAt":"2025-04-30T03:48:13.440Z","role":"project:personalOwner","userId":"243770bf-f59d-4b27-89de-8655b7a634fd","projectId":"HdMNktdmdh00lyQy","user":{"createdAt":"2025-04-30T03:48:12.496Z","updatedAt":"2025-09-13T04:44:59.616Z","id":"243770bf-f59d-4b27-89de-8655b7a634fd","email":"lukeskywalker.cauterize385@passinbox.com","firstName":"Luke","lastName":"Skywalker","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-30T03:50:22.401Z","personalization_survey_n8n_version":"1.89.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"x1ibYYRAG05p6fYZ","userActivatedAt":1746025258022,"npsSurvey":{"responded":true,"lastShownAt":1748381037833}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-13","isPending":false}}]}}],"tags":[]}