n8n/workflows/old/05-api-job-status-live.json
{"createdAt":"2025-09-10T02:15:05.898Z","updatedAt":"2025-09-10T02:25:12.267Z","id":"G08Ka1m4nfZsIDvQ","name":"Transcriber - API Job Status manual","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"api/jobs/:jobId","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8e5f0544-732c-4559-a571-c41224b22304","name":"Get Job Status API","webhookId":"20fa5f02-a49f-40d0-83c6-62a995ccdec7"},{"parameters":{"jsCode":"const userEmail = $input.first().headers['cf-access-authenticated-user-email'] || 'test@solfamily.group';\nconst jobId = $input.first().params?.jobId;\nreturn {\n  userEmail,\n  jobId\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"93f455cf-7a3e-440e-9c84-9e551e949e0c","name":"Parse Job Request"},{"parameters":{"operation":"executeQuery","query":"SELECT r.id, r.status, r.created_at, r.started_at, r.completed_at, r.error_message \nFROM transcriber.recordings r \nINNER JOIN transcriber.users u ON r.user_id = u.id \nWHERE u.email = $1 AND r.id = $2\n","options":{"queryReplacement":"={{ $node[\"Parse Job Request\"].json[\"userEmail\"] }}\n{{ $node[\"Parse Job Request\"].json[\"jobId\"] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"8779af48-b6bb-4786-b0b6-c06c104a9b2c","name":"Get Job Status","credentials":{"postgres":{"id":"OMZYbl9bxs7QVk3p","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46530cbf-d943-4f4b-aea9-5e2338272114","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,0],"id":"584e07c6-ed4c-4a33-9b99-aa7d6f0bc8c8","name":"Check Job Exists"},{"parameters":{"jsCode":"const record = $json[0];\nlet progress = null;\n// Example: Calculate % complete\nif (record.status === 'completed') {\n  progress = 100;\n} else if (record.status === 'started') {\n  progress = 50;\n} else {\n  progress = 0;\n}\n\nreturn {\n  ...record,\n  progress\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-96],"id":"5fc70751-2fc1-486d-9da4-dfbabda05286","name":"Build Job Response"},{"parameters":{"respondWith":"json","responseBody":"={{ { \"error\": \"Job not found\" } }}","options":{"responseCode":404}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,96],"id":"f269d955-fff5-406e-a0d4-1c7bc78c6a04","name":"Respond Job Not Found"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1040,-96],"id":"5aa5c24d-f63a-433f-88a4-c79d548f54da","name":"Respond to Webhook"}],"connections":{"Get Job Status API":{"main":[[{"node":"Parse Job Request","type":"main","index":0}]]},"Parse Job Request":{"main":[[{"node":"Get Job Status","type":"main","index":0}]]},"Get Job Status":{"main":[[{"node":"Check Job Exists","type":"main","index":0}]]},"Check Job Exists":{"main":[[{"node":"Build Job Response","type":"main","index":0}],[{"node":"Respond Job Not Found","type":"main","index":0}]]},"Build Job Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"05d95c07-2827-4fc6-b15f-c50651dee118","triggerCount":1,"shared":[{"createdAt":"2025-09-10T02:15:05.898Z","updatedAt":"2025-09-10T02:15:05.898Z","role":"workflow:owner","workflowId":"G08Ka1m4nfZsIDvQ","projectId":"HdMNktdmdh00lyQy","project":{"createdAt":"2025-04-30T03:48:13.440Z","updatedAt":"2025-04-30T03:52:49.307Z","id":"HdMNktdmdh00lyQy","name":"Luke Skywalker <lukeskywalker.cauterize385@passinbox.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-30T03:48:13.440Z","updatedAt":"2025-04-30T03:48:13.440Z","role":"project:personalOwner","userId":"243770bf-f59d-4b27-89de-8655b7a634fd","projectId":"HdMNktdmdh00lyQy","user":{"createdAt":"2025-04-30T03:48:12.496Z","updatedAt":"2025-09-13T04:44:59.616Z","id":"243770bf-f59d-4b27-89de-8655b7a634fd","email":"lukeskywalker.cauterize385@passinbox.com","firstName":"Luke","lastName":"Skywalker","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-30T03:50:22.401Z","personalization_survey_n8n_version":"1.89.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"x1ibYYRAG05p6fYZ","userActivatedAt":1746025258022,"npsSurvey":{"responded":true,"lastShownAt":1748381037833}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-13","isPending":false}}]}}],"tags":[]}